@font-face {
	font-family: "Source Code Pro";
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	src: url(SourceCodePro-ExtraLight.eot) format("embedded-opentype"),
		url(SourceCodePro-ExtraLight.ttf.woff2) format("woff2"),
		url(SourceCodePro-ExtraLight.otf.woff) format("woff"),
		url(SourceCodePro-ExtraLight.otf) format("opentype"),
		url(SourceCodePro-ExtraLight.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:200;
	font-style:italic;
	font-stretch:normal;
	src: url(SourceCodePro-ExtraLightIt.eot) format("embedded-opentype"),
		url(SourceCodePro-ExtraLightIt.ttf.woff2) format("woff2"),
		url(SourceCodePro-ExtraLightIt.otf.woff) format("woff"),
		url(SourceCodePro-ExtraLightIt.otf) format("opentype"),
		url(SourceCodePro-ExtraLightIt.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:300;
	font-style:normal;
	font-stretch:normal;
	src: url(SourceCodePro-Light.eot) format("embedded-opentype"),
		url(SourceCodePro-Light.ttf.woff2) format("woff2"),
		url(SourceCodePro-Light.otf.woff) format("woff"),
		url(SourceCodePro-Light.otf) format("opentype"),
		url(SourceCodePro-Light.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:300;
	font-style:italic;
	font-stretch:normal;
	src: url(SourceCodePro-LightIt.eot) format("embedded-opentype"),
		url(SourceCodePro-LightIt.ttf.woff2) format("woff2"),
		url(SourceCodePro-LightIt.otf.woff) format("woff"),
		url(SourceCodePro-LightIt.otf) format("opentype"),
		url(SourceCodePro-LightIt.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:400;
	font-style:normal;
	font-stretch:normal;
	src: url(SourceCodePro-Regular.eot) format("embedded-opentype"),
		url(SourceCodePro-Regular.ttf.woff2) format("woff2"),
		url(SourceCodePro-Regular.otf.woff) format("woff"),
		url(SourceCodePro-Regular.otf) format("opentype"),
		url(SourceCodePro-Regular.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:400;
	font-style:italic;
	font-stretch:normal;
	src: url(SourceCodePro-It.eot) format("embedded-opentype"),
		url(SourceCodePro-It.ttf.woff2) format("woff2"),
		url(SourceCodePro-It.otf.woff) format("woff"),
		url(SourceCodePro-It.otf) format("opentype"),
		url(SourceCodePro-It.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:500;
	font-style:normal;
	font-stretch:normal;
	src: url(SourceCodePro-Medium.eot) format("embedded-opentype"),
		url(SourceCodePro-Medium.ttf.woff2) format("woff2"),
		url(SourceCodePro-Medium.otf.woff) format("woff"),
		url(SourceCodePro-Medium.otf) format("opentype"),
		url(SourceCodePro-Medium.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:500;
	font-style:italic;
	font-stretch:normal;
	src: url(SourceCodePro-MediumIt.eot) format("embedded-opentype"),
		url(SourceCodePro-MediumIt.ttf.woff2) format("woff2"),
		url(SourceCodePro-MediumIt.otf.woff) format("woff"),
		url(SourceCodePro-MediumIt.otf) format("opentype"),
		url(SourceCodePro-MediumIt.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:600;
	font-style:normal;
	font-stretch:normal;
	src: url(SourceCodePro-Semibold.eot) format("embedded-opentype"),
		url(SourceCodePro-Semibold.ttf.woff2) format("woff2"),
		url(SourceCodePro-Semibold.otf.woff) format("woff"),
		url(SourceCodePro-Semibold.otf) format("opentype"),
		url(SourceCodePro-Semibold.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:600;
	font-style:italic;
	font-stretch:normal;
	src: url(SourceCodePro-SemiboldIt.eot) format("embedded-opentype"),
		url(SourceCodePro-SemiboldIt.ttf.woff2) format("woff2"),
		url(SourceCodePro-SemiboldIt.otf.woff) format("woff"),
		url(SourceCodePro-SemiboldIt.otf) format("opentype"),
		url(SourceCodePro-SemiboldIt.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:700;
	font-style:normal;
	font-stretch:normal;
	src: url(SourceCodePro-Bold.eot) format("embedded-opentype"),
		url(SourceCodePro-Bold.ttf.woff2) format("woff2"),
		url(SourceCodePro-Bold.otf.woff) format("woff"),
		url(SourceCodePro-Bold.otf) format("opentype"),
		url(SourceCodePro-Bold.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:700;
	font-style:italic;
	font-stretch:normal;
	src: url(SourceCodePro-BoldIt.eot) format("embedded-opentype"),
		url(SourceCodePro-BoldIt.ttf.woff2) format("woff2"),
		url(SourceCodePro-BoldIt.otf.woff) format("woff"),
		url(SourceCodePro-BoldIt.otf) format("opentype"),
		url(SourceCodePro-BoldIt.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:900;
	font-style:normal;
	font-stretch:normal;
	src: url(SourceCodePro-Black.eot) format("embedded-opentype"),
		url(SourceCodePro-Black.ttf.woff2) format("woff2"),
		url(SourceCodePro-Black.otf.woff) format("woff"),
		url(SourceCodePro-Black.otf) format("opentype"),
		url(SourceCodePro-Black.ttf) format("truetype");
}
@font-face {
	font-family:"Source Code Pro";
	font-weight:900;
	font-style:italic;
	font-stretch:normal;
	src: url(SourceCodePro-BlackIt.eot) format("embedded-opentype"),
		url(SourceCodePro-BlackIt.ttf.woff2) format("woff2"),
		url(SourceCodePro-BlackIt.otf.woff) format("woff"),
		url(SourceCodePro-BlackIt.otf) format("opentype"),
		url(SourceCodePro-BlackIt.ttf) format("truetype");
}
