@font-face{font-family:"englishextra-social-icons";src:url(englishextra-social-icons.eot?iy1u51);src:url(englishextra-social-icons.eot?iy1u51#iefix) format("embedded-opentype"),url(englishextra-social-icons.ttf?iy1u51) format("truetype"),url(englishextra-social-icons.woff?iy1u51) format("woff"),url(englishextra-social-icons.svg?iy1u51#icomoon) format("svg");font-weight:normal;font-style:normal;}
[class^="icon-"],[class*=" icon-"]{font-family:"englishextra-social-icons";speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-englishextra-social-icons-android:before{content:"\e900";}
.icon-englishextra-social-icons-apple:before{content:"\e901";}
.icon-englishextra-social-icons-behance:before{content:"\e902";}
.icon-englishextra-social-icons-facebook:before{content:"\e903";}
.icon-englishextra-social-icons-github:before{content:"\e904";}
.icon-englishextra-social-icons-google-plus:before{content:"\e905";}
.icon-englishextra-social-icons-instagram:before{content:"\e906";}
.icon-englishextra-social-icons-linkedin:before{content:"\e907";}
.icon-englishextra-social-icons-ok:before{content:"\e908";}
.icon-englishextra-social-icons-reddit:before{content:"\e909";}
.icon-englishextra-social-icons-rss:before{content:"\e90a";}
.icon-englishextra-social-icons-skype:before{content:"\e90b";}
.icon-englishextra-social-icons-soundcloud:before{content:"\e90c";}
.icon-englishextra-social-icons-twitter:before{content:"\e90d";}
.icon-englishextra-social-icons-vimeo:before{content:"\e90e";}
.icon-englishextra-social-icons-vk:before{content:"\e90f";}
.icon-englishextra-social-icons-wikipedia:before{content:"\e910";}
.icon-englishextra-social-icons-windows:before{content:"\e911";}
.icon-englishextra-social-icons-wordpress:before{content:"\e912";}
.icon-englishextra-social-icons-yahoo:before{content:"\e913";}
.icon-englishextra-social-icons-youtube:before{content:"\e914";}
